html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}
.center {
    width: 100px;
    height: 100px;
    left: 50%;
}
.ml-5{
    margin-left:15px;
}
footer {
    padding-top: 30px;
    background-color: #197242;
    color: white;
    padding-bottom:30px;
}
.navbar {
    background-color: #197242 !important;
}
    .navbar .navbar-brand {
        color: white !important;
    }
.navbar .nav-item .nav-link {
    color: white !important;
}

#secondary .widget-title {
    color: #fff;
    padding: 15px 15px;
    display: block;
    background: #007242;
    margin-bottom: 0;
}

#secondary .block_widget .post-item {
    padding-bottom: 10px;
}

    #secondary .block_widget .post-item a {
        color: red;
        text-decoration: none;
    }
        #secondary .block_widget .post-item a:hover {
            text-decoration: underline;
        }

a.plain {
    color: #333;
    transition: color .3s, opacity .3s, transform .3s;
    text-decoration: none;
}
    a.plain:hover {
        text-decoration: underline;
    }
.navbar-brand h1 {
    text-align:center;
}

ul.navbar-nav {
    margin-top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .navbar-brand h1 {
    }
    .container-menu {
        display: flex ;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    .div-navbar-toggle{
        display:flex;justify-content:end;
        width:100%;
    }
}
