@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@model List<CategoryOutstandViewModel>;

<div id="secondary" class="widget-area " role="complementary">
    @{
        foreach (var c in Model)
        {
            <aside id="nav_menu-3" class="widget widget_nav_menu">
                <span class="widget-title ">
                    <a href="/danh-muc/@c.Slug" style="color:black">@c.Description</a>
                </span>
                <div class="menu-dich-vu-cua-chung-toi-container">
                    <ul id="menu-dich-vu-cua-chung-toi" class="menu">
                        @foreach (var p in c.Products)
                        {
                            <li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-77 current_page_item menu-item-508">
                                <a href="@p.SeoAlias" style="color:black" aria-current="page">@p.Title</a>
                            </li>
                        }

                    </ul>
                </div>
            </aside>
        }
    }
</div>