@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@model List<ProductViewModel>;


<!-- Latest Blog Section Begin -->

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                @if (p.Images.Count() == 0)
                {
                    <div class="blog__item__pic set-bg" data-setbg="imgs/default.jpg"></div>
                }
                @if (p.Images.Count() > 0)
                {
                    <div class="blog__item__pic set-bg" data-setbg="@p.Images[0].Path"></div>
                }
                <div class="blog__item__text">
                    <span>
                        <img src="~/malefashion/img/icon/calendar.png" />
                        @p.DateCreated.ToString("dd-MM-yyyy")
                    </span>
                    <h5>@p.Title</h5>
                    <a href="@p.SeoAlias">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    }
</div>

<!-- Latest Blog Section End -->