@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@model List<BannerViewModel>;
<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @{
            foreach (var m in Model)
            {
                <div class="swiper-slide">
                    <img src="@m.Path" alt="@m.Name" class="img-fluid" loading="lazy" width="2000" height="250"/>
                
                </div>
            }
        }

    </div>
</div>
