@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@model List<BannerViewModel>;

<section class="hero">
    <div class="hero__slider owl-carousel">
        @foreach (var m in Model)
        {
            <div class="hero__items set-bg" >
                <img loading="lazy" class="img-fluid" src="@m.Path" height="600" width="1200" />
             
            </div>
        }
    </div>

</section>